.WeatherForecast{
    text-align: center;
    font-family: "Courgette", cursive;
    color: #ffffff;
}

.imagery-One{
    position: relative;
    left:100px;
}

.imagery{
    position: relative;
    right: -20px;
}
.icon-one{
    position: relative;
    left:100px;
}