
#search-input{
  position:relative;
  bottom:-30px;
}
.footer{
  position:relative;
  left:20px;
}

.card-body {
  margin : 0 auto;
  border: 2px solid;
    text-align: center;
    font-family: "Courgette", cursive;
    max-width: 750px;
    padding-bottom: 15px;
    background-color: #232F55;background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
}

.weather-now {
   margin:0 auto;
   position:relative;
    right:-45px;
    bottom: 50px;
    font-weight: 600;
    color: #ffffff;
}


li{
    list-style: none;
}


  .active{
    font-family: "Courgette", cursive;
      font-weight: 600;
      color: black;
  }
  
  .h5, h5 {
    font-size: 13.5px;
  }
  .weather-forecast img{
  width:42px;
  }
  .weather-forecast {
    font-size: 20px;
    }
    
  .col{
    padding-bottom: 32px;
  }
  
  .current{
    font-family: "Courgette", cursive;
     font-size: 22px;
     font-weight: 250px;
   }
  .button {
    position : relative;
    right : -105px;
    bottom: 8px;
  }
  .symbols{
    font-size:16px;
    position: relative;
    top: -32px;
  }
   .degree{
    font-size : 64px;
    color: #fff;
  position: relative;
  right: -115px;
  }
  .whole {
    font-family: "Courgette", cursive;
    border: 2px solid;
    margin : 0 auto;
  }
  .temp {
    font-size: 12px;
    color: #fff;
  }
  .weather-temp img{
    width: 64px;
    height: 64px;
    margin-right :5px;
  }
  
  .details{
    font-family: "Courgette", cursive;
      font-size: 16px;
      font-weight: 600;
      position: relative;
      left: 250px;
      bottom: 45px;
  }
  .current.like{
    position: relative;
    bottom: -30px;
  }
  .feelings{
    position: relative;
    bottom: -32px;
  }
  
  .feels {
    color: #fff;
    font-size: 13px;
    position: relative;
    bottom:-1px;
    display: inline;
  }
  .city {
    font-size: 40px;
    margin-top: 30px;
    color: #ffffff;
  }
  .felt{
    margin:0 auto;
    position:relative;
     right:-80px;
     bottom: 25px;
     font-weight:600;
     color: #ffffff;
  }
 
  .card {
    max-width: 650px;
    display: block;
    margin: 0 auto;
    background: #7e9acc;
    text-align: center;
  }
  .day {
    margin-top: 0;
      font-size: 20px;
      font-weight: 500;
    position: relative;
    right:65px;
    bottom :10px;
    font-family: "Courgette", cursive;
    color: #ffffff;
  }
  
    #today{
      font-family: "Courgette", cursive;
      font-size:20px;
      font-weight: 600;
      color: #ffffff;
      position: relative;
    left:-65px;
    }
  
  .first {
    height: 200px;
  }
  .fas.fa-cloud-rain {
    font-size: 50px;
    color: whitesmoke;
  }
  
  .weather-temp .active{
    color:#555555;
  cursor:default;
  }
  .weather-temp .active:hover {
    text-decoration:none;
  }